body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#f4f6f8;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:rgb(139, 231, 156);
border-bottom:1px solid #3cda76;

}

.logo{
font-size:22px;
font-weight:bold;
color:#2a6f97;

}

.hero{
    height:350px;
    background-image:url("Backdrop.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.hero h1{
    color:white;
    font-size:48px;
    background:rgba(87, 220, 195, 0.4);
    padding:15px 30px;
}

main{
    padding:40px;
}

.content-row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    background: white;
    padding: 25px;
    border-radius: 10px;

.reverse{
    flex-direction: row-reverse;
}

.content-row img{
    width: 350px;
    border-radius: 10px;
}

.text{
    max-width: 500px;
}

.highlight {
    background: rgb(255, 255, 0, 0.5);
    padding: 2px 4px;
    border-radius: 4px;
}

h1{color:rgb(95, 229, 222);}
h2{color:#5bb1e7;}
h3{color:#6699e1;}
h4{color:#63c4e2;}

footer {
    text-align: center;
    padding: 20px;
    background: #06466b;
    color: white;
    margin-top: 40px;
}